version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: google-auth-container
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  google-auth-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: google-auth
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app
    command: npm run start:dev

volumes:
  pgdata:
    driver: local
